
.contact_container {
	position:absolute;
	width:300px;
	height:326px;
	right:50px;
	margin-top:100px;
	background: rgba(0,0,0,0.5);
	text-align: center;
}

.contact_container > form {
	margin-top:26px;
}
.contact_container input[type='text'], .contact_container input[type='email'],.contact_container textarea{
	display:block;
	width:200px;
	border-radius:5px;
	outline:none;
	padding:10px;
	border:1px solid grey;
	resize:none;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
}

.contact_container input[type="submit"] {
	background: red;
	color:white;
	border:none;
	padding:10px;
	border-radius:5px;
	margin-top:10px;
}

.contact_container input[type="submit"]:hover {
	background: darkred;
}

.closeContact {
	border:0;
	background:none;
	color:white;
	font-size:1.2em;
	position:absolute;
	left:12px;
}