.sub-gallery.About {
	width:175px;
	float:left;
	clear:none !important;
}

.desc.About {
	float: right;
	width: 500px;
	font-size: 1.5em;
	text-align: justify;
	margin-top:20px;
	line-height:1.5em;
	letter-spacing: 0.1em;

}


.desc.About > p {
	margin-bottom:20px;
}

.section_title.About {
	float:none !important;
}

@media only screen and (max-device-width: 480px) {
	.desc.About {
		float: none;
		width:90% !important;
		text-align: left;
		letter-spacing:0;
	}

	.desc.About p  {
		float: none;		
	}

	.sub-gallery.About {
		float:none;
		width:100% !important;
	}

}

