.sub-gallery.Press img {
	/*max-width:170px;*/
	/*max-width: 170px;*/
	/*padding: 10px 10px;*/
	/*background: white;*/
	/*max-height: 170px;*/
	display: inline-block; /* Display inline-block, and absolutely NO FLOATS! */
    margin-bottom: 20px;
    width: 100%;

}


.sub-gallery.Press {
	/*width:200px;*/
	-moz-column-count: 4;
    -moz-column-gap: 50px;
    -webkit-column-count: 4;
    -webkit-column-gap: 50px;
    column-count: 4;
    column-gap: 50px;
    width: 975px;
    margin-top: 63px;

}



.french {
    background: url('images/press/France-flat-icon.png') no-repeat center center;
    background-size: cover;
    width:30px;
    height:30px;
    position: relative;
    top: -60px;
    float:left;
}

.english {
    background: url('images/press/United-States.png') no-repeat center center;
    background-size: cover;
    width:30px;
    height:30px;
    position: relative;
    float:right;
    top: -60px;
}


.french, .english {
    visibility:hidden;
}


.press-wrapper:hover>.french, .press-wrapper:hover>.english{
    visibility:visible;
}


.press-wrapper {
    overflow:hidden;
}


@media only screen and (max-width: 480px) {
    .sub-gallery.Press {
    /*width:200px;*/

        width: 100%;
        -moz-column-count: 1;
        -moz-column-gap: 0;
        -webkit-column-count: 1;
        -webkit-column-gap: 0;
        column-count: 1;
        column-gap: 0;
   
    }

    .sub-gallery.Press img {

        display: block;
        width: 50% !important;
        margin-left:auto;
        margin-right:auto;

}

}





